body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	font-size:12px;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    text-align: justify;
}

a { color:black; text-decoration:none; border-bottom:1px solid black; }
a:visited { color:black; }
a:hover { text-decoration:none; border:none; }

h1 { font-size: 55px; font-weight:normal;
     margin-left:auto; margin-right:auto; text-align:center;
     margin-top:0; margin-bottom:0;
   }
h2 { font-size: 30px; line-height: 30px; font-weight:normal; margin: 10px 0 2px -2px; }
h3 { font-size: 21px; line-height: 24px; font-weight:normal; margin-top:16px; margin-bottom:14px;  }
h4 { font-size: 18px; line-height: 21px; font-weight:normal; margin-top:16px; margin-bottom:16px; }
h5 { font-size: 14px; line-height: 16px; font-weight:normal; margin-top:16px; margin-bottom:16px; }

code { font-family: 'monaco', 'courier'; font-size:12px; }

p { line-height:15px; margin:8px 0 8px 0; }

hr { color: #aaa; background-color:#aaa; height:1px; border:0; }

.footer { width:100px; margin-left: auto; margin-right: auto;  }

pre {
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding-top:15px;
  padding-left:-50px;
  margin-bottom:15px;
  padding: 1em 0;
  font-size:12px;
  font-family: 'monaco', 'courier';
}

ul { padding-left: 25px; }
li { padding: 2px 0; }

.demo { padding:11px 0 7px 0; }